$blue-color: #0076FF;
$grey-color: #929292;
$nav-color: #FAFAFA;
$body-color: #F1F1F5;
/*
	==================
	[FONTS]
	==================
*/

@font-face {
    font-family: SFUIDisplayRegular;
    src: url(../fonts/SFUIDisplay-Regular.otf);
}
/*
	==================
	[MAIN]
	==================
*/

html {
    height: 100%;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size:13px;
    position:relative;
    font-family: SFUIDisplayRegular;
}
.page{
    background:$body-color;
}
/*
      ==================
      [LOAD PAGE]
      ==================
  */
.welcomescreen-container{
    .swiper-slide{
        display:flex;
        align-items: center;
        .welcome-icon{
            position:relative;
            margin:0 auto;
            i.icon{
                width:150px;
                height:150px;
                &.icon-welcome{
                    background: url('../images/splash_icon.png') no-repeat;
                    background-size:contain;
                }
            }
        }
    }
}


/*
    ==================
    [LOAD PAGE ANIMATION]
    ==================
*/
.trueAnimation{
    opacity: 1;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}
.hideAnimation {
    opacity: 0;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}
.halfAnimation{
    opacity: 0.4;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}
/*
      ==================
      [NAVBAR]
      ==================
  */
.navbar, .subnavbar, .toolbar {
    background: $nav-color;
}
.navbar{
    .navbar-inner{
        .back.link{
            width:50px;
            &.active-state{
                pointer-events: none;
            }
        }
    }
    .subnavbar{
        /*&:after{
          height:0px;
        }*/
    }
}
.navbar .navbar-inner .icon{
    &.icon-back{
        width:12px;
        height:20px;
        background:url('../images/icons/back.svg') no-repeat;
        margin-left:15px;
    }
    &.icon-add{
        width:21px;
        height:21px;
        background:url('../images/icons/add.svg') no-repeat;
    }
    &.icon-settings{
        width:21px;
        height:21px;
        background:url('../images/icons/settings-icon.svg') no-repeat;
    }
    &.icon-save{
        width:27px;
        height:21px;
        background:url('../images/icons/save.svg') no-repeat;
    }
    &.icon-diagram{
        width:21px;
        height:21px;
        background:url('../images/icons/diagram.png') no-repeat;
    }
    &.icon-edit{
        width:21px;
        height:21px;
        background:url('../images/icons/edit.png') no-repeat;
    }
    &.icon-calendar-nav{
        width:21px;
        height:21px;
        background:url('../images/icons/calendar_nav.svg') no-repeat;
    }
    &[class*="icon-"]{
        background-size:100% 100%;
        background-position:center center;
    }
}
/*
      ==================
      [TOOLBAR]
      ==================
  */
.toolbar{
    font-family: SFUITextRegular;
    .toolbar-inner{
        .tabbar-label{
            /*font-size:0.7em;*/
        }
        .icon{
            width:30px;
            height:30px;
            background-position: center center;
            /*margin-right:40px;*/
            &.icon-home {
                background: url('../images/icons/home.svg') no-repeat;
                background-size: 100% auto;
            }
            &.icon-photo{
                background:url('../images/icons/photo.svg') no-repeat;
                background-size:25px 25px;
            }
            &.icon-statistics{
                background:url('../images/icons/statistics.svg') no-repeat;
                background-size:23px 25px;
            }
        }
        a{
            color:$grey-color;
        }
        a.active{
            color:$blue-color;
        }
        i.icon[class*="icon-"],
        a.active i.icon[class*="icon-"]{
            background-position:50% 50%;
            pointer-events: none;
        }
        a.active .icon{
            &.icon-home {
                background: url('../images/icons/home-active.svg') no-repeat;
                background-size: 100% auto;
            }
            &.icon-photo{
                background:url('../images/icons/photo-active.svg') no-repeat;
                background-size:25px 25px;
            }
            &.icon-statistics{
                background:url('../images/icons/statistics-active.svg') no-repeat;
                background-size:23px 25px;
            }
        }
    }
}
/*
  ==================
  [MAIN]
  ==================
*/

/*
==================
[GRID]
==================
*/
/* ipad */
@media (min-height: 787px) and (min-width: 700px){
    .welcome-icon{
        margin:0 auto;
        i.icon{
            width:300px;
            height:300px;

        }
    }
    .welcomescreen-text {
        bottom: 155px;

    }
    .welcomescreen-title {
        font-size:1.8em;
        top: 155px;

    }
    .welcomescreen-container {
        font-size: 25px;
    }
}
@media (min-width: 768px){
    .tabbar .toolbar-inner {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    .tabbar a.tab-link{
        min-width:180px;
    }

}
/* iphone6+ */
@media (min-height: 684px) and (max-width: 627px){
    .welcome-icon{
        margin:0 auto;
        i.icon{
            width:200px;
            height:200px;
        }
    }
    .welcomescreen-text {
        bottom: 125px;

    }
    .welcomescreen-title {
        top: 125px;

    }
    .welcomescreen-container {
        font-size: 20px;
    }
}

/* iphone6 */
@media (max-width: 399px) and (min-width: 360px){
    .welcome-icon{
        margin:0 auto;
        i.icon{
            width:200px;
            height:200px;
        }
    }
    .welcomescreen-text {
        bottom: 105px;
    }
    .welcomescreen-title {
        top: 135px;
    }
    .welcomescreen-container {
        font-size: 20px;
    }
}
/* iphone4, iphone5 */
@media (max-width: 350px){
    .welcomescreen-text {
        bottom: 95px;
    }
    .welcomescreen-title {
        top: 95px;
    }
    .welcomescreen-container {
        font-size: 17px;
    }
}

/* iphone 5 */
@media (min-height: 568px) and (max-width: 350px){

}
/* iphone 4 */
@media (max-height: 480px) and (max-width: 350px) {



}

