body {
  background: red; }

/*
	==================
	[FONTS]
	==================
*/
@font-face {
  font-family: SFUIDisplayRegular;
  src: url(../fonts/SFUIDisplay-Regular.otf); }

/*
	==================
	[MAIN]
	==================
*/
html {
  height: 100%;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  position: relative;
  font-family: SFUIDisplayRegular; }
