/*
   ===================
   [MINXIN]
   ===================
*/
/*
	==================
	[FONTS]
	==================
*/
@font-face {
  font-family: SFUIDisplayRegular;
  src: url(../fonts/SFUIDisplay-Regular.otf); }

@font-face {
  font-family: SFUITextRegular;
  src: url(../fonts/SFUIText-Regular.otf); }

/*
	==================
	[MAIN]
	==================
*/
html {
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  position: relative;
  font-family: "SFUIDisplayRegular"; }

.page {
  background: #F1F1F5; }

/*
      ==================
      [LOAD PAGE]
      ==================
  */
.welcomescreen-container .swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .welcomescreen-container .swiper-slide .welcome-icon {
    position: relative;
    margin: 0 auto; }
    .welcomescreen-container .swiper-slide .welcome-icon i.icon {
      width: 150px;
      height: 150px; }
      .welcomescreen-container .swiper-slide .welcome-icon i.icon.icon-welcome {
        background: url("../images/splash_icon.png") no-repeat;
        background-size: contain; }

/*
    ==================
    [LOAD PAGE ANIMATION]
    ==================
*/
.trueAnimation {
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear; }

.hideAnimation {
  opacity: 0;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear; }

.halfAnimation {
  opacity: 0.4;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear; }

/*
      ==================
      [NAVBAR]
      ==================
  */
.navbar, .subnavbar, .toolbar {
  background: #FAFAFA; }

.navbar .navbar-inner .back.link {
  width: 50px; }
  .navbar .navbar-inner .back.link.active-state {
    pointer-events: none; }

.navbar .subnavbar {
  /*&:after{
          height:0px;
        }*/ }

.navbar .navbar-inner .icon.icon-back {
  width: 12px;
  height: 20px;
  background: url("../images/icons/back.svg") no-repeat;
  margin-left: 15px; }

.navbar .navbar-inner .icon.icon-add {
  width: 21px;
  height: 21px;
  background: url("../images/icons/add.svg") no-repeat; }

.navbar .navbar-inner .icon.icon-settings {
  width: 21px;
  height: 21px;
  background: url("../images/icons/settings-icon.svg") no-repeat; }

.navbar .navbar-inner .icon.icon-trash {
  width: 21px;
  height: 21px;
  background: url("../images/icons/trash.svg") no-repeat; }

.navbar .navbar-inner .icon[class*="icon-"] {
  background-size: 100% 100%;
  background-position: center center; }

/*
      ==================
      [TOOLBAR]
      ==================
  */
.toolbar {
  font-family: "SFUIDisplayRegular"; }
  .toolbar .toolbar-inner .tabbar-label {
    /*font-size:0.7em;*/ }
  .toolbar .toolbar-inner .icon {
    width: 30px;
    height: 30px;
    background-position: center center;
    /*margin-right:40px;*/ }
    .toolbar .toolbar-inner .icon.icon-home {
      background: url("../images/icons/home.svg") no-repeat;
      background-size: 100% auto; }
    .toolbar .toolbar-inner .icon.icon-photo {
      background: url("../images/icons/photo.svg") no-repeat;
      background-size: 25px 25px; }
    .toolbar .toolbar-inner .icon.icon-statistics {
      background: url("../images/icons/statistics.svg") no-repeat;
      background-size: 23px 25px; }
  .toolbar .toolbar-inner a {
    color: #929292; }
  .toolbar .toolbar-inner a.active {
    color: #0076FF; }
  .toolbar .toolbar-inner i.icon[class*="icon-"], .toolbar .toolbar-inner a.active i.icon[class*="icon-"] {
    background-position: 50% 50%;
    pointer-events: none; }
  .toolbar .toolbar-inner a.active .icon.icon-home {
    background: url("../images/icons/home-active.svg") no-repeat;
    background-size: 100% auto; }
  .toolbar .toolbar-inner a.active .icon.icon-photo {
    background: url("../images/icons/photo-active.svg") no-repeat;
    background-size: 25px 25px; }
  .toolbar .toolbar-inner a.active .icon.icon-statistics {
    background: url("../images/icons/statistics-active.svg") no-repeat;
    background-size: 23px 25px; }

/*
  ==================
  [MAIN]
  ==================
*/
/*
      ==================
      [SETTINGS]
      ==================
*/
.page-settings {
  font-family: "SFUIDisplayRegular"; }
  .page-settings .content-block-title span {
    text-transform: none; }
  .page-settings .list-block {
    margin: 0px; }
    .page-settings .list-block ul .item-media .icon[class*="icon-"], .page-settings .list-block ul .item-media .icon[class*="icon-"].active {
      background-size: 100% 100%;
      background-position: center center; }
    .page-settings .list-block ul .item-inner .item-title.label {
      width: 50%; }
    .page-settings .list-block ul .item-input {
      text-align: right; }
  .page-settings #clear-settings {
    background: #fff;
    position: relative; }
    .page-settings #clear-settings:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: auto;
      right: auto;
      height: 1px;
      width: 100%;
      background-color: #c8c7cc;
      display: block;
      z-index: 15;
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      -webkit-transform: scaleY(0.5);
              transform: scaleY(0.5); }
    .page-settings #clear-settings:after {
      content: '';
      position: absolute;
      left: auto;
      bottom: 0;
      right: 0;
      top: auto;
      height: 1px;
      width: 100%;
      background-color: #e7e6eb;
      display: block;
      z-index: 15;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scaleY(0.5);
              transform: scaleY(0.5); }
    .page-settings #clear-settings a {
      font-family: "SFUITextRegular";
      margin-top: 50px;
      height: 44px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #FE3824; }
      .page-settings #clear-settings a.button {
        border: none; }

/*
==================
[GRID]
==================
*/
/* ipad */
@media (min-height: 787px) and (min-width: 700px) {
  .welcome-icon {
    margin: 0 auto; }
    .welcome-icon i.icon {
      width: 300px;
      height: 300px; }
  .welcomescreen-text {
    bottom: 155px; }
  .welcomescreen-title {
    font-size: 1.8em;
    top: 155px; }
  .welcomescreen-container {
    font-size: 25px; } }

@media (min-width: 768px) {
  .tabbar .toolbar-inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .tabbar a.tab-link {
    min-width: 180px; } }

/* iphone6+ */
@media (min-height: 684px) and (max-width: 627px) {
  .welcome-icon {
    margin: 0 auto; }
    .welcome-icon i.icon {
      width: 200px;
      height: 200px; }
  .welcomescreen-text {
    bottom: 125px; }
  .welcomescreen-title {
    top: 125px; }
  .welcomescreen-container {
    font-size: 20px; } }

/* iphone6 */
@media (max-width: 399px) and (min-width: 360px) {
  .welcome-icon {
    margin: 0 auto; }
    .welcome-icon i.icon {
      width: 200px;
      height: 200px; }
  .welcomescreen-text {
    bottom: 105px; }
  .welcomescreen-title {
    top: 135px; }
  .welcomescreen-container {
    font-size: 20px; } }

/* iphone4, iphone5 */
@media (max-width: 350px) {
  .welcomescreen-text {
    bottom: 95px; }
  .welcomescreen-title {
    top: 95px; }
  .welcomescreen-container {
    font-size: 17px; } }

/* iphone 5 */
/* iphone 4 */
